<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026837917599-d0kk9onreu4apu6g4pmt6u7tj8ll83pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026837917599-d0kk9onreu4apu6g4pmt6u7tj8ll83pl</string>
	<key>API_KEY</key>
	<string>AIzaSyBu8WgeUBNQZIQz9E5Oxfl7PS96xrz87vo</string>
	<key>GCM_SENDER_ID</key>
	<string>1026837917599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softhon.taskManager</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-ced81</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-ced81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026837917599:ios:cd60646f1d5f68663217aa</string>
</dict>
</plist>